.tweetList > ul {
    list-style: none;
    padding: 0;
}

.tweetList > ul > li {
    background-color: lightgrey;
}

.tweetList > ul > li.selected {
    border: 1px dashed black;
    padding: .1em;
    background-color: white;
}

button {
    margin: 0.1em;
}

.annotated {
    background: lightgreen !important;
    color: black;
}

.negAnnotated {
    background: lightsalmon !important;
    color: black;
}

.implAnnotated {
    background: linear-gradient(180deg, lightgreen, transparent 50%);
    color: black;
}

.implNegAnnotated {
    background: linear-gradient(0deg, lightsalmon, transparent 50%);
    color: black;
}


.toplevel::before {
    content: "T";
    text-align: center;
    background: lightgreen;
}

.undecidable {
    filter: opacity(35%);
}

.fixed {
    padding: 0.3em;
    position: sticky;
    z-index: 9999;
    background: white;
}

.top {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
}

.bottom {
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
}

.tabbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: sticky;
    top: 0;
}

.tabbar > li {
    background-color: lightgrey;
    border: 1px solid grey;
    padding: .2em;
}

.tabbar > li.activeTab {
    background-color: white;
    border-bottom: unset;
}

.adjudicationTable {
    border-collapse: collapse;
}

.adjudicationTable .annotations {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: bold;
}

.adjudicationTable .goldAnnotations {
    display: flex;
    font-weight: bold;
    font-family: monospace;
    border-bottom: 0.3em solid gold;
    margin-bottom: 0.3em;
}

.adjudicationTable .needsAdjudication td:first-child {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.adjudicationTable span {
    padding: 0.2em;
}

.loginFailed {
    color: red;
}

button.btnGroup {
    position: relative;
}

button > .leftBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5em;
    height: 100%;
    border: 0.1em solid gray;
    border-radius: 0.3em;
}

button > .rightBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5em;
    height: 100%;
    border: 0.1em solid gray;
    border-radius: 0.3em;
}

.pageSelect {
    padding: 0.3em;
    height: 2em;
    line-height: 1em;
    border-radius: 0;
}

.selected {
    border-color: black;
    border-width: 0.2em;
}

.mark_difficult {
    font-weight: bold;
}

.mark_difficult > dt::before {
    content: "⭐";
}

.ynu-button {
    margin: 0;
    box-shadow: inset 0 0 .5em gray;
    text-align: center;
}

.ynu-button.rounded {
    border-radius: 20em;
}

.ynu-button span:first-of-type, .ynu-button span:last-of-type {
    padding: .1em;
    border-radius: inherit;
    height: fit-content;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: opacity ease 0.3s;
}

.ynu-button span:first-of-type:hover, .ynu-button span:last-of-type:hover {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.quasihidden {
    opacity: 0.2;
}

.disabled {
    cursor: not-allowed;
}

.patternToggle {
    margin: 0.1em;
    border-radius: .5em;
}

/* Toggle button modified from https://danklammer.com/articles/simple-css-toggle-switch/ */

input.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  box-shadow: inset 0 0 .5em gray;
}

input.toggle::before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

input.toggle:checked {
  background-color: #4CD964;
}

input.toggle:checked::before {
  left: 32px;
}

.tokenList {
  margin: 0.5em;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.token {
  background: 50% beige;
  border-radius: .2em;
  padding: .5em;
  margin: .1em;
  position: relative;
}

.popup {
  display: block;
  position: absolute;
  background-color: lightgray;
  border-radius: 1em;
  padding: .3em;
  box-shadow: 2px 2px 2px darkgray;
  z-index: 1;
}

.popup.below {
  transform: translate(-50%,0);
}

.popup.below:before {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: lightgray;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: calc(50% - 10px);
}

.popup.hidden {
  display: none;
}

.slot-filler {
  padding: 0 .5em;
  border: 0.1em solid black;
  border-radius: 0.5em;
  cursor: pointer;
  color: black;
}

.slot-filler:hover {
  background: lightgray;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}
